body 



{

background: url("tło3.png");
background-size: 100%; background-repeat: no-repeat; background-attachment: fixed;
text-align: center;
color: #FFFFFF;
font-family: 'Girassol', cursive;
font-family: 'Bebas Neue', cursive;

}
